body {
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm283-nunny-246-f.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=f173d25b87c57ca67c2ae5634836a98d");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; 
}

h1{
  
  color: white;
  font-size: 30px;
  font-family: arial, sans-serif;
margin:10 20;

}
  img{
    width: 100px;
  float: right;
   
  }
.exp-header {
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-top:1px solid #ffff;
  border-bottom:1px solid #ffff;
  background-color: rgba(0,0,0, 0.3)
}
    
