body {
  background-image: url(https://images.unsplash.com/photo-1547623641-d2c56c03e2a7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8bmV1dHJhbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80)
    
}

h1{
  
  color: white;
  font-size: 30px;
  font-family: arial, sans-serif;
  text-align: center;

}
  img{
    width: 100px;
  float: right;
   
  }
    
